<div class="px-3 py-3 justify-content-start text-start">
    <form method="{{ reset_user_form.vars.method }}" id="{{ reset_user_form.vars.id }}" name="{{ reset_user_form.vars.full_name }}" action="{{ reset_user_form.vars.action }}">
        <div class="mb-3">
            <label class="form-label" for="{{ reset_user_form.email.vars.id }}">{{ reset_user_form.email.vars.label }}</label>
            <select class="form-select" id="{{ reset_user_form.email.vars.id }}" name="{{ reset_user_form.email.vars.full_name }}">
                {% for choice in reset_user_form.email.vars.choices %}
                <option value="{{ choice.value }}">{{ choice.label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <button class="btn btn-danger" id="{{ reset_user_form.submit.vars.id }}" name="{{ reset_user_form.submit.vars.full_name }}" type="submit">{{ reset_user_form.submit.vars.label }}</button>
        </div>
        <input id="{{ reset_user_form._token.vars.id }}" name="{{ reset_user_form._token.vars.full_name }}" value="{{ reset_user_form._token.vars.value }}" type="hidden">
    </form>

    <div class="px-3 py-3 justify-content-start text-start">
        {% for reset_token in app.flashes('reset_token') %}
        <p class="lead">The user's reset password link is: {{ url('app_reset_password', {token: reset_token}) }}</p>
        {% endfor %}
    </div>
</div>
